*{
    padding: 0;
    margin: 0;
}
:root {
    --main--color: #2a9d8f
}

body{
    font-family: 'Fuggles', cursive;
font-family: 'Marhey', sans-serif;
font-family: 'Noto Kufi Arabic', sans-serif;
font-family: 'Rubik', sans-serif;
}
.bodyImg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../img/pexels-cottonbro-studio-5081398.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* display: none; */
}
@media (max-width: 678px){
   
    .bodyImg {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url(../img/pexels-marek-levak-2265487.jpg);
        background-size: cover;
        /* background-position: center; */
        background-repeat: no-repeat;
        /* display: none; */
    }
 
}
button.bar span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aqua;
    z-index: -1;
      }
/* start header */
.scrolltop {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 10px;
    bottom: 30px;
    display: none;
    cursor: pointer;
    z-index: 10000;
 }
 .scrolltop i{
    font-size: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 1.5;
    color: var(--main--color);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.401);
 }
.containerNav1 {
    overflow: hidden;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #264653;
    color: white;
}
.rightNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    background-color: #264653;
    
}
.rightNav div {
margin-right: 20px;
position: relative;
}
.rightNav div:first-child::before {
    content: "";
    position: absolute;
    width: 1px;
    background-color: white;
    height: 100%;
    top:0;
    right: -10px;
    
    }
.leftNav {
    display: flex;
    justify-content: space-between;
    /* margin-left: 0%; */
    align-items: center;
    background-color: #264653;
    animation-name: trns;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    direction: rtl;
}
@keyframes trns {
    from {
        margin-left: -250%;
    }
    to{
        margin-right: -250%;
    }
}
.leftNav div {
    margin-left: 30px;
    position: relative;
    }
    .leftNav div:nth-child(2)::before {
        content: "";
        position: absolute;
        width: 1px;
        background-color: white;
        height: 100%;
        top:0;
        right: -15px;
        
        }
    .car i {
        margin-left: 5px;
    }
    .containerNav2 {
        width:100%;
        height: 150px;
        color: #264653;
        background-color: #fff;
        padding-top: 20px;
    }
    .containerNav2 .search{
      display: flex;
      justify-content: space-between;
      direction: rtl;
      align-items: center;
      padding: 10px 15px 0 15px;
      
    }
.count-up {
    width: 20px;
    height: 20px;
    background-color: var(--main--color);
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 60px;
}

    .search div {
        position: relative;
    }
    .search .logo {
        margin-top: 15px;
        font-family:'Marhey', sans-serif;
    }
    @media (max-width: 778px){
        .search .logo {
            top: 50px;
            font-family:'Marhey', sans-serif;
        }
    }
    .search .logo i {
      font-size: 35px; 
    }
    .search div input {
        width: 80%;
        height: 30px;
        background-color: #eee;
        border: none;
        border-radius: 5px;
        padding: 5px;
        font-size: 18px;
        color: #264653;
    }
  
    .search div .fa-magnifying-glass {
       color: var(--main--color);
       position: absolute;
       top: 7px;
       left: 5px;
       z-index: 1;
    }
    .search div input:focus {
       
        border: none;
       outline: none;
    }
    .containerNav2 .search .logo {
      font-size: 25px;
      font-weight: bolder;
      margin-right: 60px;
      position: relative;
      }
      .containerNav2 .search .logo i{
       color: var(--main--color);
       position: absolute;
       right: -30px;
       bottom: 0;
        }
 
  
    .navbar {
        margin: 5px auto;
        min-height: 80px;
    }

    .navbar ul{
        display: flex;
        width: 98%;
        height: 100%;
        margin: auto;
        justify-content: space-between;
        direction: rtl;
        list-style: none;
        font-weight: bold;
        padding-top: 20px;
    }
    .navbar ul li {
        height: 100%;
        padding: 5px 0;
    }
    .navbar ul li a {
     width: 100%;
     height: 100%;
     padding: 10px;
     text-decoration: none;
     font-size: 14px;
    cursor: pointer;
    color: #264653;
    font-weight: bold;
    font-family:'Marhey', sans-serif;
    }
    .navbar ul li a.links {
        background-color: var(--main--color);
        color: white;
    }
    .navbar ul li span {
        position: absolute;
        bottom: -4px;
        right: 0;
        width: 0;
        height: 2px;
        background-color: #264653;
    }
    .hiden-nav {
        position: relative;
        background-color: transparent;
        border: none;
        width: 30px;
        height: 30px;
        cursor: pointer;
        bottom: 70px;
        left: 50px;
        display: none;
        z-index: 2000;
    }  
    .hiden-nav.menu-active:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 10px;
        right: 0;
        border: 16px solid ;
        border-color: transparent transparent #111111e9 transparent;
        display: block; 
     } 
    .hiden-nav span {
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
        background-color: #264653;
        display: block;
        
        }
       
          .sacand-nav {
            width: 100%;
            height: 70%;
           visibility: hidden;
           position: absolute;
           background-color: #111111e9;
           top: 190px;
           margin: auto;
           padding-bottom: 10px;
           border-radius: 10px;
           z-index: 2000;
           font-family:'Marhey', sans-serif;
        }
        .visible{
            visibility:visible
        }
        @media (max-width: 767px){
            .navbar ul {
                display: none;
            }
            
            .hiden-nav {
                display: block;
            } 
          
            
           
        }
        .sacand-nav{
            list-style: none;
            text-decoration: none;
        }
        .sacand-nav ul{
        display: block;
        list-style: none;
        }
        .sacand-nav ul li {
            text-align: right;
            color: #fff;
           margin: 20px;
        }
        .sacand-nav ul li a:hover{
           
            color: aqua;
            
        }
        .sacand-nav ul li a{
            text-decoration: none;
            color: #fff;
            margin-right: 10px;
            text-align: center;
            font-size: 20px;
        }
    
/* end header */

/* start intro */
.intro {
    
    overflow: hidden;
    width: 100%;
    min-height: 600px;
    background-color: var(--main--color);
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
}
@media (max-width: 678px){
   
    .intro {
    
        overflow: hidden;
        width: 100%;
        min-height:900px;
        background-color: var(--main--color);
        flex-direction: column-reverse;
        text-align: center;
        position: relative;
    }

}

@media (max-width: 991px){
   
    
    .rightIntro  {
       height: 650px;
    } 
  
    
   
}
.intro .leftImeg{
   position: absolute;
   z-index: 1;
   width:100%;
 top: 0;
   right: 0;
  
}
@media (max-width: 678px){
   
    
    .intro .leftImeg{
        position: absolute;
        z-index: 1;
        width:220%;
      top: 0;
        right: 0;
       
     }
    
   
}
.intro .topImeg{
    position: absolute;
    z-index: 3;
    width:100%;
  top:-70%;
    right: 0;
   
 }
 @media (max-width: 991px){
   
    .intro .topImeg{
        position: absolute;
        z-index: 3;
        width:100%;
      top:-35%;
        right: 0;
       
     }
 
}
@media (max-width: 678px){
   
    .intro .topImeg{
        position: absolute;
        z-index: 3;
        width:150%;
      top:-20%;
        right: 0;
       
     }
 
}
 

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(13, 10, 10, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.intro .rightIntro {
   width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    z-index: 3;
    
}

@media (max-width: 991px){
   
    .intro .rightIntro {
       top: 70%;
         
     }
 
}
@media (max-width: 678px){
   
  
    .intro .rightIntro {
        width:100%;
         position: absolute;
         top: 350px;
         right: -100%;
         z-index: 3;
         
     }
}
.intro .rightIntro h1{
   color: white;
 font-size: 80px;
 transform: rotate(-10deg);
font-weight: bold;
text-shadow:10px 10px 10px black;
font-family: 'Marhey', sans-serif;
}
@media (max-width: 991px){
   
    .intro .rightIntro  h1{
       font-size: 50px;
    } 
 
}
@media (max-width: 678px){
   
    .intro .rightIntro  h1{
       font-size: 55px;
    } 
 
}
.intro .rightIntro p{
    text-align: center;
    width: 70%;
    margin: 20px auto;
    color: white;
  font-size: 22px;
 font-weight: bold;
 text-shadow:10px 10px 10px black;
 line-height: 1.8;
 }
 @media (max-width: 991px){
   
    .intro .rightIntro p{
        text-align: center;
        width: 70%;
        margin: 5px auto;
        color: white;
      font-size: 18px;
     font-weight: bold;
     text-shadow:10px 10px 10px black;
     line-height: 1.8;
     }
}
 .intro .rightIntro p span{
 color: yellow;
 font-size: 30px;
 }
 .intro .rightIntro button{
  width: 180px;
  padding: 5px;
  border-radius: 50px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  font-family: 'Noto Kufi Arabic', sans-serif;
  font-size: 20px;
  background-color: yellow;
  color: #264653;
  font-weight: bold;
 }
 @media (max-width: 678px){
   
    .intro .rightIntro button{
        width: 150px;
        padding: 5px;
        border-radius: 50px;
        border: none;
        margin-top: 15px;
        cursor: pointer;
        font-family: 'Noto Kufi Arabic', sans-serif;
        font-size: 16px;
        background-color: yellow;
        color: #264653;
        font-weight: bold;
       }
 
}
 .intro .rightIntro button i{
  color: var(--main--color);
   }
 .intro .slider  {
    width: 45%;
   position: relative;
   left: -100%;
   z-index: 3;
}
@media (max-width: 678px){
   
    .intro .slider  {
        width: 100%;
       position: relative;
       left: -100%;
       bottom: 230px;
       z-index: 3;
    }
 
}
.intro .slider img {
    position: absolute;
    width: 450px;
    margin-left: 70px;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    transition: 1s;
}
@media (max-width: 991px){
   
    .intro .slider img {
        position: absolute;
        width: 350px;
        margin-left: 70px;
        top: 50%;
        left: -100%;
        transform: translate(-50%, -50%);
        transition: 1s;
    }
}
@media (max-width: 678px){
   
    .intro .slider img {
        position: absolute;
        width: 270px;
        margin-left: 0;
        top: 50%;
        left: -100%;
        transform: translate(-50%, -50%);
        transition: 1s;
    }
}
.intro .slider img.active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* end intro */
/* start services */
.container1 {
    width: 100%;
    min-height: 150px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    text-align: right;
    flex-wrap: wrap;
    color: #264653;
    align-items: center;
    direction: rtl;
    transition: .3s;
}
@media (max-width: 991px){
   
    .container1 {
        width: 100%;
        min-height: 250px;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        text-align: right;
        flex-wrap: wrap;
        color: #264653;
        align-items: center;
        direction: rtl;
        transition: .3s;
    }
}
.container1 div{
    width: calc(90% / 4);
    min-height: 80px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    
}
@media (max-width: 991px){
   
    .container1 div{
        width: calc(80% / 2);
        min-height: 80px;
        /* margin: 10px; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        z-index: 2;
        padding: 10px 0;
    }
}
@media (max-width: 678px){
   
    .container1 div{
        width: 70%;
        min-height: 80px;
        /* margin: 10px; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        z-index: 2;
        padding: 10px 0;
    }
}

.container1 div:hover  {
   
    background-color: var(--main--color);
    color: #fff;
  
}
.container1 div:hover i {
   
    background-color: var(--main--color);
    color: #fff;
  
}

   
    .container1 div i {
        position: absolute;
        right: 10px;
        font-size: 35px;
        color: var(--main--color);
        transition: .5s;
    }
    @media (max-width: 678px){
   
        .container1 div i {
            position: absolute;
            right: 10px;
            font-size: 45px;
            color: var(--main--color);
            transition: .5s;
        }
    }
    .container1 div h4 {
        position: absolute;
        right: 60px;
        top: 20px;
        font-size: 16px;
    }
    @media (max-width: 678px){
   
        .container1 div h4 {
            position: absolute;
            right: 80px;
            top: 20px;
            font-size: 14px;
        }
    }

    .container1 div p {
        position: absolute;
        right: 60px;
        top: 45px;
        font-size: 12px;
        padding: 5px;
        line-height: 1.7;
    }

    @media (max-width: 678px){
   
        .container1 div p {
            position: absolute;
            right: 80px;
            top: 45px;
            font-size: 12px;
            padding: 5px;
            line-height: 1.7;
        }
    }
/* end services */
    
   /* start patation */
.parts {
    position: relative;
    width:100%;
    min-height: 300px;
    display: flex;
    justify-content:space-evenly;
    background-color: #fff;
    flex-wrap: wrap;
    align-items: center;
    margin:  auto;
    padding-top: 100px;
    color: #264653;
    direction: rtl;
}
@media (max-width: 678px){
   
    .parts {
        position: relative;
        width:100%;
        min-height: 600px;
        display: flex;
        justify-content:space-around;
        background-color: #fff;
        flex-wrap: wrap;
        align-items: center;
        margin:  auto;
        padding-top: 100px;
        color: #264653;
        direction: rtl;
    }
 
}
h3.h3{
    width: 100%;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 100px;
    text-align: center;
    margin: 10px auto;
    font-size: 30px;
    text-shadow:10px 10px 10px var(--main--color);
    font-family: 'Marhey', sans-serif;
   }
   @media (max-width: 678px){
   
    .parts h3.h3{
        width: 100%;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        height: 100px;
        text-align: center;
        margin: 10px auto;
        font-size: 25px;
        text-shadow:10px 10px 10px var(--main--color);
        font-family: 'Marhey', sans-serif;
       }
 
}
.parts div h4{
text-align: center;
margin: 10px;
}
.parts div div{
    border-radius: 50%;
    width:110px;
    height: 110px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    box-shadow: -1px 4px 5px var(--main--color);
    transform: rotate(-22.5deg);
    transition: .3s;
    cursor: pointer;
    margin:20px auto;
}
@media (max-width: 778px){
   
    .parts div {
        width: calc(95% / 3);
    }}
 
@media (max-width: 678px){
   
    .parts div {
 width: 50%;
    }}
 

.parts div div:hover{
 
    transform: rotate(360deg);

}

.parts div div img{
    width: 110%;
    position: absolute;
    transform: rotate(22.5deg);
    top: -25px;
    left: -10px;
}


   /* end patation */
   /* start sale */
.sale {
    overflow: hidden;
    width: 100%;
    min-height: 350px;
    background-color: var(--main--color);
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width: 778px){
    .sale {
        direction: ltr;
        overflow: hidden;
        width: 100%;
        min-height: 550px;
        background-color: var(--main--color);
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 778px){
   
}
.sale img.saleImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.sale .saleOverly {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(13, 10, 10, 0);
    z-index: 2;
    text-align: center;
}

.sale .photoSale {
   width: 50%;
   position: relative;
   /* top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   position: absolute; */
}
.sale .introSale {
    position: relative;
    width: 50%;
    margin-right: -150%;
    text-align: center;
    z-index: 4;
   

 }
 @media (max-width:778px){
    .sale .introSale {
        margin-top: 50px;
        width: 90%;
        margin-right: -200%;
        text-align: center;
        z-index: 4;
       
    
     }
 }
 @media (max-width:567px){
    .sale .introSale {
        margin-top: 0;
        width: 90%;
        margin-right: -200%;
        text-align: center;
        z-index: 4;
       margin-bottom: 20px;
    
     }
 }
 .sale .introSale h1{
    font-family: 'Marhey', sans-serif;
    color: white;
    font-size: 110px;
    line-height: 1.3;
   font-weight: bold;
   text-shadow:10px 10px 10px rgb(2, 1, 13);
 }
 @media(max-width:991px){
    .sale .introSale h1{
        font-family: 'Marhey', sans-serif;
        color: white;
        font-size: 90px;
        line-height: 1.3;
       font-weight: bold;
       text-shadow:10px 10px 10px rgb(2, 1, 13);
     }
 }
 @media(max-width:778px){
    .sale .introSale h1{
        font-family: 'Marhey', sans-serif;
        color: white;
        font-size: 80px;
        line-height: 1.3;
       font-weight: bold;
       text-shadow:10px 10px 10px rgb(2, 1, 13);
     }
 }
 @media(max-width:567px){
    .sale .introSale h1{
        font-family: 'Marhey', sans-serif;
        color: white;
        font-size: 65px;
        line-height: 1.3;
       font-weight: bold;
       text-shadow:10px 10px 10px rgb(2, 1, 13);
     }
 }

 .sale .photoSale {
    width: 50%;
    margin-top: 0px;
    margin-left: -150%;
    text-align: center;
    z-index: 4;
   

 }
 @media(max-width:778px){

    .sale .photoSale {
        width: 85%;
        margin-left: -200%;
     }
 }
 @media(max-width:567px){

    .sale .photoSale {
        width: 100%;
        margin-left: -200%;
     }
 }
 @media(max-width:991px){

    .sale .photoSale img{
        width: 90%;
    
     }
 }
 @media(max-width:778px){

    .sale .photoSale img{
        width: 75%;
    
     }
 }
 @media(max-width:567px){

    .sale .photoSale img{
        width: 90%;
    
     }
 }

  /* end sale  */
.partePhone,
.partePhone2,
.partePhone3,
.partePhone4{
    position: relative;
    width: 100%;
    min-height: 750px;
    padding-top: 200px;
    background-color: var(--main--color);
   z-index: 1;
  }
  .partePhone img.partImg,
.partePhone2 img.partImg,
.partePhone3 img.partImg,
.partePhone4 img.partImg
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .partePhone .title,
   .partePhone2 .title,
   .partePhone3 .title,
   .partePhone4 .title{
    position: absolute;
    width: 100%;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    z-index: 2;
  }
  .partePhone .title h2,
  .partePhone2 .title h2,
  .partePhone3 .title h2,
  .partePhone4 .title h2{
    text-shadow:10px 10px 10px rgb(2, 1, 13);
    font-family: 'Marhey', sans-serif;
 font-size: 35px;
 font-weight: bold;
 margin: 10px;
 z-index: 2;
  }
  @media (max-width: 778px){
    .partePhone .title h2,
    .partePhone2 .title h2,
    .partePhone3 .title h2,
    .partePhone4 .title h2{
 font-size: 25px;
    }
  }
  .partePhone .title p,
   .partePhone2 .title p,
   .partePhone3 .title p,
   .partePhone4 .title p{
    text-shadow:10px 10px 10px rgb(2, 1, 13);
    font-family: 'Marhey', sans-serif;
    font-size: 25px;
   margin:0 0 20px 0;
   z-index: 2;
     }
     @media (max-width: 778px){
        .partePhone .title p,
        .partePhone2 .title p,
        .partePhone3 .title p,
        .partePhone4 .title p{
       font-size: 20px;
          }
      }
  .partePhone a,  
  .partePhone2 a,
  .partePhone3 a,
  .partePhone4 a{
 text-decoration: none;

  }
     
.box {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}
/* @keyframes move {
    0% {
       transform: translateX(0px);
    }
    20%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(-600px);
    }
} */
.phoneSlider {
    width: 100%;
    height: 450px;
    position: relative;
}
.phoneSlider img{
    position: absolute;
width: 100%;
height: 75%;
left:50%;
top: 50%;
object-fit: cover;
transform: translate(-50%, -50%);
box-sizing: border-box;
}
.datail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #264653;
}
.type {
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin: 0px -10px 10px -10px;
}
.type a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-right: 8px;
    margin: 0px 5px;
}
.type span {
    color: #fff;
font-weight: 500;
margin: 5px;
}
.stars {
    margin-top: 20px;
}
.stars i{
   font-size: 17px;
}

.price {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin: 10px;
    direction: rtl;
}
.buy {
position: absolute;
left:50%;
top: 50%;
transform: translate(-50%, -50%);
width: 100%;
height: 100%;
background-color: rgba(28, 70, 147, 0.566);
display: flex;
justify-content: center;
align-items: center;
visibility: hidden;


}
.box-btn {
    width: 160px;
    height: 40px;
    display: flex;
justify-content: center;
align-items: center;
background-color: whitesmoke;
border-radius: 20px;
color: #264653;
letter-spacing: 1px;
font-weight: 600;
box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.box-btn:hover {
color: #fff;
background-color: var(--main--color);
transition: all ease 0.3s;
}
.phoneSlider:hover .buy {
    visibility: visible;
    animation: fadeimage 1s;
}
@keyframes fadeimage {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* lightslider */
 /* body background */
.bodyBackground, 
.bodyBackground2,  
.bodyBackground3 {
    width: 100%;
    height: 300px;
    background: none;
    z-index: -1;
}
 /* body background */
/* start container3-begsale */
.container3 {
    position: relative;
    width: 100%;
    min-height: 600px;
    padding-top: 200px;
    background-color: var(--main--color);
   z-index: 1;
}
@media (max-width: 767px){
    .container3 {
        
        position: relative;
        width: 100%;
        min-height: 1600px;
        padding-top: 200px;
        background-color: var(--main--color);
       z-index: 1;
    }
}

.container3 img.partImg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
.container3 .title{
    position: absolute;
    width: 100%;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    z-index: 2;
  }
  .container3 .title h2{
    text-shadow:10px 10px 10px rgb(2, 1, 13);
    font-family: 'Marhey', sans-serif;
 font-size: 35px;
 font-weight: bold;
 margin: 10px;
 z-index: 2;
  }
  .container3 .title p{
    text-shadow:10px 10px 10px rgb(2, 1, 13);
    font-family: 'Marhey', sans-serif;
    font-size: 25px;
   margin:0 0 20px 0;
   z-index: 2;
     }
.begsale {
    direction: rtl;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    width: 95%;
    height: 70%;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    
    justify-content: space-around;
}
@media (max-width: 767px){
    .begsale {
        padding-top: 10px;
        display: block;
        width:80%;
        min-height: 1450px;
        margin:  auto;
        border-radius: 10px;
    }
    
   
}
.begsale div{
    width: calc(95% / 3);
    margin:  auto;
    height: 95%;
    border-radius: 10px;
}
@media (max-width: 767px){
    .begsale div{
        width: 95%;
        margin: 10px auto;
        height: calc(95% / 3);
        border-radius: 10px;
    }
    
   
}

.begsale .postar {
    position: relative;
    margin:  auto;
    height: 95%;
    background-image: linear-gradient(45deg, #0d4671, var(--main--color));
    border-radius: 10px;
    overflow: hidden;
}
@media (max-width: 767px){
    .begsale .postar {
        position: relative;
        margin:  auto;
        height: calc(95% / 3);
        background-image: linear-gradient(45deg, #0d4671, var(--main--color));
        border-radius: 10px;
        overflow: hidden;
    }
   
}
.begsale .postar img:first-child {
    width: 10%;
}
.begsale .postar h3 {
    margin:  auto;
    text-align: center;
    color: #fff;
    margin:5
    40px 20px 10px 20px;
    font-size: 30px;
    font-weight: bold;
    font-family:'Marhey', sans-serif;
    text-shadow:10px 10px 10px rgb(2, 1, 13);
}
.begsale .postar p {
    margin:  auto;
    text-align: center;
    color: #fff;
    margin:0 0 20px 0;
    font-size: 16px;
    font-weight: bold;
    font-family:'Marhey', sans-serif;
    text-shadow:10px 10px 10px rgb(2, 1, 13);
}
.begsale .postar img {
position: absolute;
width: 100%;
bottom:20px;
left: 50%;
transform: translateX(-50%);

}
@media (max-width: 778px){
    .begsale .postar img {
        position: absolute;
        width: 70%;
        bottom:20px;
        left: 50%;
        transform: translateX(-50%);
        
        }
}
.begsale .postar img.pos-phone {
    position: absolute;
    width: 90%;
    bottom:150px;
    left: 50%;
    transform: translateX(-50%);
    
    }
    @media (max-width: 991px){
        .begsale .postar img.pos-phone {
            position: absolute;
            width: 110%;
            bottom:150px;
            left: 50%;
            transform: translateX(-50%);
            
            }
    }
      @media (max-width: 767px){
            .begsale .postar img.pos-phone {
                position: absolute;
                width: 70%;
                bottom:-10px;
                left: 50%;
                transform: translateX(-50%);
                }
        }
        @media (max-width: 567px){
            .begsale .postar img.pos-phone {
                position: absolute;
                width: 100%;
               bottom: 140px;
                left: 50%;
                transform: translateX(-50%);
                }
        }


    .begsale .postar img.pos-watche {
        position: absolute;
        width: 100%;
        bottom:-10px;
        left: 50%;
        transform: translateX(-50%);
        }
        @media (max-width: 991px){
            .begsale .postar img.pos-watche {
                position: absolute;
                width: 100%;
                bottom:20px;
                left: 50%;
                transform: translateX(-50%);
                }
        }
        @media (max-width: 767px){
            .begsale .postar img.pos-watche {
                position: absolute;
                width: 70%;
                bottom:-10px;
                left: 50%;
                transform: translateX(-50%);
                }
        }
        @media (max-width: 567px){
            .begsale .postar img.pos-watche {
                position: absolute;
                width: 100%;
                bottom:-10px;
                left: 50%;
                transform: translateX(-50%);
                }
        }


.smallphoto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.smallphoto div{
   width: 49%;
   height: 49%;
}
#number {position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #26465375;
    border: none;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    line-height: 1;
    font-size: 30px;
    z-index: 2;
    right: 30px;
}
.begphoto {
    position: relative;
    margin:  auto;
    height: 95%;
    background-image: linear-gradient(45deg, #0d4671, var(--main--color));
    border-radius: 10px;
    overflow: hidden;
}
.begphoto img {
    position: absolute;
width: 100%;
bottom:20px;
left: 50%;
transform: translateX(-50%);
}
.begphoto img.b-phone {
    position: absolute;
width: 90%;
top:10px;
left: 50%;
transform: translateX(-50%);
}
@media (max-width:991px){
    .begphoto img.b-phone {
        position: absolute;
    width: 110%;
    top:30px;
    left: 50%;
    transform: translateX(-50%);
    }
}
@media (max-width:778px){
    .begphoto img.b-phone {
        position: absolute;
    width: 80%;
    top:30px;
    left: 50%;
    transform: translateX(-50%);
    }
}
@media (max-width:567px){
    .begphoto img.b-phone {
        position: absolute;
    width: 100%;
    top:30px;
    left: 50%;
    transform: translateX(-50%);
    }
}
.begphoto .bns{
    position: absolute;
width: 100%;
height: 30%;
bottom: -10px;
background-color: #26465379;
align-items: center;
padding: 10px 20px;
box-sizing: border-box;
border: none;
text-align: center;
color: #fff;
font-size: 20px;
}
.begphoto .bns .stars {
    width: 100%;
   border: none;
   margin: 20px 0 0 ;
   max-height: 50px; 
}
.begphoto .bns .del {
    width: 100%;
   border: none;
   padding-bottom: 10px;
   max-height: 50px; 
   font-size: 16px;
   display: flex;
   justify-content: space-around;
}
.small-bns {
    position: relative;
    margin:  auto;
    height: 95%;
    background-image: linear-gradient(45deg, #0d4671, var(--main--color));
    border-radius: 10px;
    overflow: hidden;
}
.small-bns img {
    position: absolute;
width: 100%;
bottom:20px;
left: 50%;
transform: translateX(-50%);
}
.small-bns img.b-phone {
    position: absolute;
width: 80%;
top:10px;
left: 50%;
transform: translateX(-50%);
}
@media (max-width:991px){
    .small-bns img.b-phone {
        position: absolute;
    width: 110%;
    top:10px;
    left: 50%;
    transform: translateX(-50%);
    }
}
.small-bns .bns{
    position: absolute;
width: 100%;
height: 40%;
bottom: 0;
background-color: #264653a3;
align-items: center;
padding: 10px 20px;
box-sizing: border-box;
border: none;
text-align: center;
color: #fff;
font-size: 12px;
}
@media (max-width:778px){
    .small-bns .bns{
        position: absolute;
    width: 100%;
    height: 40%;
    bottom: -10px;
    background-color: #264653a3;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 12px;
    }
}
.small-bns .bns .stars {
    width: 100%;
   border: none;
   margin: 0 ;
   max-height: 30px; 
   font-size: 5px;
}
.small-bns .bns .stars i{
    padding-top: 5px;
   font-size: 10px;
}
.small-bns .bns .del {
    width: 100%;
   border: none;
   padding-bottom: 40px;
   max-height: 30px; 
   font-size: 10px;
   display: flex;
   justify-content: space-between;
}

/* end container3-begsale */
/* start footer */
.footer {
    width: 100%;
    background-color: #264653;
    height: 500px;
    margin-top: -100px;
    position: relative;
}
/* start contact-info */

.contact-info {
    font-family:'Marhey', sans-serif;
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    display: flex;
    justify-content: center;
}
@media (max-width:767px){
    .contact-info {
        width: 90%;
   display: block;
    }
}
.resorces .contents h4, .resorces .contents p{
 padding: 10px;
}
.about-services h3 {
    font-size: 22px;
   color: #264653;
   text-shadow:0px 3px 5px #264653;
}
@media (max-width:767px){
    .about-services h3 {
        font-size: 25px;
        padding:  10px;
    }
}
@media (max-width:567px){
    .about-services h3 {
        font-size: 20px;
        padding:  10px;
    }
}

.contact-info .about-services {
    position: relative;
width: 50%;
background-color: #fff;
padding: 20px;
height: 200px;
}
@media (max-width:767px){
    .contact-info .about-services {
        width: 85%;
        height: 200px;
        background-color: #fff;
        padding: 20px;
        margin: auto;
        }
}
.contact-info .about-services form input:not(:last-child){
    width: 80%;
    height: 30px;
    border: none;
    padding: 5px 0;
    font-family:'Marhey', sans-serif;
    }
    @media (max-width:767px){
        .contact-info .about-services form input:not(:last-child){
            width: 100%;
            height: 30px;
            border: none;
            padding: 5px 0 ;
            }
    }
    .about-services form input:last-child {
        position: absolute;
        width: 120px;
        height: 45px;
        color: #fff;
        border: none;
        font-family:'Marhey', sans-serif;
        background-color: var(--main--color);
       right:10px;
       bottom: 20px;
        cursor: pointer;
    }
    @media (max-width: 567px){
        .about-services form input:last-child {
            position: absolute;
            width: 90px;
            height: 40px;
            color: #fff;
            border: none;
            font-family:'Marhey', sans-serif;
            background-color: var(--main--color);
           right:10px;
           bottom: 20px;
           font-size: 10px;
            cursor: pointer;
        }
    }
.contact-info .about-services form input:focus{
    outline: none;
        }


.contact-info .contact-content {
    width: 50%;
    background-color: var(--main--color);
    color: #fff;
    padding: 20px;
    height: 200px;
    position: relative;
}
@media (max-width:767px){
    .contact-info .contact-content {
        width: 85%;
        height: 200px;
        background-color: var(--main--color);
        color: #fff;
        padding: 20px;
        position: relative;
        margin: auto;
    }
}

.contact-info .contact-content button {
    position: absolute;
    width: 120px;
    background-color: #fff;
    padding: 10px 0 ;
    border: 1px solid #fff;
    color: #264653;
    margin-left: 20px;
    right: 10px;
    bottom: 20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 3;
    font-family:'Marhey', sans-serif;
    font-weight: bold;
    }
    @media (max-width: 567px){
        .contact-info .contact-content button {
            position: absolute;
            width: 90px;
            background-color: #fff;
            padding: 10px 0 ;
            border: 1px solid #fff;
            color: #264653;
            margin-left: 20px;
            right: 10px;
            bottom: 20px;
            cursor: pointer;
            overflow: hidden;
            z-index: 3;
            font-family:'Marhey', sans-serif;
            font-weight: bold;
            font-size: 10px;
            }
    }
.contact-info .contact-content div{
    width: 100%;
    background-color: var(--main--color);
    color: #fff;
    padding: 5px;
    margin: 5px 0;
    display: flex;
    justify-content: space-evenly;
}

.contact-info .contact-content h3{
 font-size: 22px;
 text-shadow:0px 3px 5px black;
}
@media (max-width:767px){
    .contact-info .contact-content h3{
        font-size: 25px;
        padding: 10px 20px;
       }
}
@media (max-width:567px){
    .contact-info .contact-content h3{
        font-size: 20px;
        padding: 10px 20px;
       }
}
   .contact-info .contact-content div i{
  width: 35px;
  height: 30px;
  font-size: 16px;
 border: 1px solid #fff;
 border-radius: 50%;
 text-align: center;
 line-height: 1.8;
 text-shadow:0px 3px 5px black;

}
.contact-info .contact-content div p{
  width: 100%;
  margin: 10px;
font-size: 14px;
text-shadow:0px 3px 5px black;
  }
  .map {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
  }
  .map button {
    font-size: 16px;
    font-family:'Marhey', sans-serif;
    width: 60px;
    height: 35px;
    border:2px solid #264653 ;
    background-color: var(--main--color);
    padding: 3px;
    position: absolute;
    color: #fff;
    font-weight: bold;
    bottom: 30px;
    right: 30px;
    transform: translateX(-50%);
    z-index: 1001;
    border-radius: 10px;
    cursor: pointer;
  }


  .map img{
    position: absolute;
    width: 50%;
    height: 70%;
    background-color: #ffffff89;
    padding: 10px;
    background-color: var(--main--color);
    border:2px solid #264653 ;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
@media (max-width: 778px){
    .map img{
        position: absolute;
        width: 90%;
        height: 60%;
        background-color: #ffffff89;
        padding: 10px;
        background-color: var(--main--color);
        border:2px solid #264653 ;
        border-radius: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
      }
    
}

/* end contact-info */
.footer .footer-content {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 20px;
    color: #fff;
   
}
@media (max-width:767px){
    .footer {
        height: 750px;
           }
    .footer .footer-content {
    font-size: 12px;
    }

}
@media (max-width:567px){
    .footer {
     height: 750px;
        }

    .footer .footer-content {
    display: block;
    text-align: center;
    }
    .footer .footer-content .follow-us {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        }
}
.footer .footer-content .follow-us {
display: flex;
justify-content: space-between;
}
@media (max-width:567px){
    .footer .footer-content .follow-us {
        display: flex;
        justify-content: center;
        }
}
.footer .footer-content .follow-us a {
    position: relative;
    z-index: 2;
    cursor: pointer;
      }
  .follow-us a i{
     
      margin: 0 5px 10px ;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: #fff;
      background-color: #555;
      text-align: center;
      line-height: 1.8;
      cursor: pointer;
      z-index: -1;
      }
    @media (max-width:767px){
        .footer .footer-content .follow-us a i{
            font-size: 16px;
            cursor: pointer;
            }
    }
    .footer .footer-content p {
        padding: 5px;
    }
    /* end footer */
    /*start colors list*/
.theam-colors {
    position: fixed;
    top: 200px;
    left: -50px;
    height: 240px;
    z-index: 1000;
    background-color:#00000073;
    width: 50px;
    border-radius: 0 10px 10px 0;
    transition: .3s;
}
.open {
    left: 0;
}
.theam-colors i.fa-gear {
    color: #fff;
    position: absolute;
    top: calc(50% - 11px);
    left: 51.5px;
    z-index: 3;
    padding: 3px;
    font-size: 28px;
    cursor: pointer;
}
@media (max-width:567px){
    .theam-colors i.fa-gear {
     
        font-size: 23px;
       
    }
}
.theam-colors::before {
    content: "";
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius:0 8px 8px 0;
    position: absolute;
    background-color: #00000073;
    z-index: 3;
    top: calc(50% - 15px);
    left: 50px;
}
@media (max-width: 567px){
    .theam-colors::before {
       
        width: 25px;
        height: 25px;
        
    }
}
ul.colors-list
 {
    list-style: none;
    position: absolute;
    left: 10px; 
    
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
ul.colors-list li {
width: 20px;
height: 20px;
margin-top: 20px;
margin-right: 15px;
border-radius: 50%;
opacity: .3;
border: 2px solid #fff;
cursor: pointer;
}
ul.colors-list li:first-child {
    background-color:#2a9d8f;
}
ul.colors-list li:nth-child(2) {
    background-color: rgb(4, 4, 106)
}
ul.colors-list li:nth-child(3) {
    background-color: #960b3b
}
ul.colors-list li:nth-child(4) {
    background-color: green;
}

ul.colors-list li.active {
    opacity: 1;
}
/*end colors list*/